@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans','Lato' ;
    font-size: 12px;
}
.destierros-heroe{
    width: 100%;
    height: 500px;
    display: flex;
}
.destierros-heroe{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-color: black;

}


.destierros-img{
    align-self: center;
    margin-left: 250px;

}
.parrafo1-destierros{
    font-size: 14px;
    justify-content: center;
    margin-right: 250px;
    margin-left: 50px;
    text-align: center;
    margin-top: 20px;
    background-color: #b90000;
    color: #fff;
    padding: 50px 50px;
    border-radius: 6px ;
}
.destierros-titulo{
position: absolute;
margin-bottom: 250px;
    align-items: center;
    justify-content: center;

    margin-left: 530px;
    text-align: center;
    background-color: #b90000;
    color: #fff;
    font-weight: 800;
    
    
}
.congelamientos-heroe{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-color: black;
}


.congelamientos-img{
    align-self: center;
    margin-left: 250px;

}
.parrafo1-congelamientos{
    font-size: 14px;
    justify-content: center;
    margin-right: 250px;
    margin-left: 50px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 50px 50px;
    border-radius: 6px ;
}
.congelamientos-titulo{
position: absolute;
margin-bottom: 350px;
    align-items: center;
    justify-content: center;
    margin-left: 530px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-left: 555px;
    font-weight: 800;
    

    
}
main{
    background-color: black;
}
 .btn15{
    position: absolute;
    margin-right: -500px;
    margin-bottom: -250px;
    margin-left: -480px;
    margin-top: 140px;
}
.btn14{
    margin-top: 200px;
    position: absolute;
    margin-right: -500px;
    margin-left: -480px;
    margin-top: 120px;
}
.color{
    background-color: #fd2921;
    margin: 0 0;
width: 150px;
height: 1715px;
position: absolute;
}
.color-2{
    background-color: #fd2921;
    margin: 0 ;
width: 150px;
height: 1715px;
position: absolute;

margin-left: 1199px;
}